


body, html {
    background-color:#f8c69a ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2rem;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    
   
}
ul >li{
 list-style: square;
}
span{
    
    font-weight: bold;
   
}
main{
 margin: 50px;
 flex: 1;

}

a:link{
    cursor: pointer;
}
.mainNavContainer {
     display: flex;
     margin: 5px;
     gap: 20px;
     flex-direction: row;
    justify-content: flex-end;
    font-size: 1rem;
    line-height: 1rem;
    position: absolute;
    white-space: nowrap;
    flex-wrap: nowrap;
    top: 20px;
    right: 100px;
    padding: 1rem;
    border-radius: 10px;
   
     
}
.mainNavContainer a:hover{
    background-color:#f1750f ;

}

.mainNavContainer a {
    color: white; 
    margin: 5px;
    background-color: rgba(255, 168, 6, 0.63);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}
/* keep header on top of other elements */

header{
    background-color: antiquewhite;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;
    box-shadow: 4px 4px 8px rgba(255, 168, 6, 0.63);
}
.h1headers{
    background-color:#f8c69a ;
    display: flex;
    text-align: center;
    margin-top: 70px;
}
.services{
    margin-bottom: 30px;
    border: #f1750f red;
}

#logo{
    top: 0;
    left: 0;
    position: relative;
    width: 80px;
    margin-bottom: 10px;
    height: auto;
}

/* contact us forms */
/*  */


.contactDetail{
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    padding: 1.5rem;
    border-radius: 10px;
}

form{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 0;
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);

}
.enquiry-form-containers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);

}



#map{
 display: flex;
 height: 400px;
 width: 100%;
 border-radius: 12px;
 box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
 
}
/* enquiry page styling */
/* enquiry form inputs styling */
input, textarea, select{
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    height: auto;
    border: 2px solid;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}




.general-info{
    padding: 10px;
    margin: 10px 0;
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}

input { 
    padding: 5px; 
    margin: 5px 0;
    width: 100%;
    height: auto;
     text-align: center; 
     border: 2px solid;
     }
.enquiryPage{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.management-team{
    display: grid;
    gap: 20px;
   
    margin-top: 20px;
    grid-template-columns: auto auto;
    column-gap: 30px;
}
.management-team img{
    width:auto;    
    height: 400px; 
    align-items: center;
    justify-content: center;
    margin: 5%;

}


.management-team >div{
    border: #f1750f solid 1px;
}

/* end * services page styling */ 
.container{
    display: grid;
    column-gap: 100px;
    grid-template-columns: auto auto auto;
    padding: 20px;

}
.container > div{
   
    text-align: center;
    border: 2px solid red;
    font-weight: 20%;
}


img{
    max-width: 100%;
    height: auto;
}



/* icon hamburger menu this css will be made functional with the use of Javascript*/

.hamburger{
    display: none;

}

.container-footer{
  position: relative;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  margin: 40px auto 0 auto;
 box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
 padding-left: 25%;
 padding-right: 75%;
}

/* about us style */
.aboutUsDiv{
    display: flex;   
    box-shadow: #333333;
    flex: 3;
    min-width: 100%;
    max-width: 30%;
    border: #f1750f 5px solid;
    overflow: auto;
  
}
.container-aboutUs{
    display: flex;
    gap: 20px;
    border: #f1750f 2px solid;
   
}

.collapsible {
  background-color: rgba(255, 168, 6, 0.63);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #f1750f;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content {
  display: none;
  padding: 0 18px;
  background-color: #f1f1f1;
}




.mainDiv{
      display: block;
    column-gap: 5px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.containerServices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.logosDiv{
    display: flex;
    column-gap: 10px;
    border: #f1750f solid;
    flex-direction: column;
    position: relative;
    grid-template-columns: auto auto auto;
}
main{
   
    margin: 50px;
}
/* span{
    display: none;
} */
/* contact us style */

.contactUs-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: #f1750f solid 2px;
    align-items: center;
    gap: 20px;
    margin: 20px 0 10px;
    padding: 10px; 
}


/* .map>div,
.map iframe{
 flex: 1 1 300px;
 max-width: 400px;
 min-width: 250px;
 width: 100%;
 
} */
/* .contact-info{
 font-size: 1rem;
border-radius: 10px;
padding: 10px;
margin-top: 10px;
height: 380px;
box-shadow: 4px 4px 8px;

} */
.socialMediaContainer{
 justify-content: center; 
 display: flex;
 gap: 10px;
 padding: 10px;
 text-align: center;
 width: fit-content;
 margin: 0 auto;
}

.socialMediaContainer img{
    width: 50px;
}

.map iframe{
 margin-top: 10px;
 flex: 1 1 300px;
 max-width: 400px;
 min-width: 250px;
 width: 100%;
 height: 390px;
 border: #f1750f 3px solid;
 box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
 border-radius: 10px;
 
}
/* homepage style */
.HomepageStickerImg{
 display: block;
 overflow: hidden;
 margin: 20px;
width:50%;
 height: auto;

}
#scoresheet{
   position: absolute;
    background-color: rgba(255, 168, 6, 0.63); ;
    white-space: nowrap;
    margin: 0;
    height: auto;
    padding: 10px 20px;
    top:10px;
 
  
}
.strip{
background-color:  rgba(255, 168, 6, 0.63);
height: auto;
width: 100%;
}
#scoresheet-container{
 position: relative;
 width: 100%;
 height: 50px;



}

.slideImg{
    display: grid;
}
.team{
    color: white;
    font-weight:bolder;
}
.match{
    color: white;
    font-weight:bolder;
}
.fixtures >li{
    display: inline-block;
    text-decoration: none;
}

.fixtures{
    margin: 5px;
}
.lightbox{
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  z-index: 9999;

}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 15px #000;}

  .close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 50px;
  color: white;
  cursor: pointer;
  user-select: none;
}
/* homepage style */
.minigallery{
width: 30%;
height: auto;
display: block;
margin-left: 35%;
text-align: center;

}
/* gallery styling */
.gallery-container{
  position: relative;
  margin: auto;
  padding: 2rem;
  overflow: hidden;
  width: 100%;
 max-width: 1200px;
height: auto;
  display: flex;
 flex-direction: row;
    justify-content: center;
    column-gap: 5px;

}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: rgba(255,168,6,0.63);
}
.slider img{
    flex: 1 0 100% ;
    scroll-snap-align: start;
    object-fit: cover;
}
.slideNav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform:translateX(-50%) ;
    z-index: 1;
    transition: opacity ease 250ms;

}
.slideNav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;

}
.slideNav a:hover{
  
 opacity: 1;
}
.sliderWrapper{
 position: relative;
 max-width: 48rem;
 margin: 0 auto;

}

.article-Container{
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}




.card, .articles, .article-three, .article-four{
    border-radius: 10px;
    border: 3px solid #f1750f;
    box-shadow: 4px 4px 4px 4px rgba(255,168,6,0.63);
    text-align: center;
    padding: 10px;
}
.articles, .article-three, .article-four,h2{
    color:white;
    text-align: center;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: inherit;
    
}

.column{
  float: left;
  width: 100%;
  padding: 5px;
  display: flex;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
 border-radius: 10px;
}
.row{
 display: flex;
 position:relative;
 margin:auto;
 max-width: 100%;
}
.prev .next{
    cursor: pointer;
    position:absolute;
    top: 50%;
    background-color: #f1750f;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:white;
    font: 18px;
    right: 0;
    border-radius:3px 0 0 3px ;

}

/* tournament page */
.features{
 font-weight: bolder;
}
.tournaments{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: space-between;

}
#tourneyBtn{
    border-radius: 5px;
    padding: 5px;
}


.tournamentInfo{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    justify-content: space-between;

    padding: 20px;
    max-width: 1200px;
}
.column1{
 
    flex: 1;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px;
    border: #f1750f solid 2px;
    max-width: 100%;
    height: auto;
    width: 220px;
}
.column1 :last-child{
 margin-right:10px ;
 max-width: 100%;
}


.legendspic{
  width: 100%;
  border-radius: 25px;
}

.u23{
  border: #f1750f 1px solid;
  box-shadow: 4px 4px 4px 4px rgba(255, 168, 6, 0.63);
  border-radius: 25px;
}


/* service page style */


.card{

    border-radius: 10px;
    border: #f1750f solid 3px;
    box-shadow: 4px 4px 4px 4px rgba(255, 168, 6, 0.63);
    text-align: center;
    padding: 10px;
}
.searchbar{
    text-align: center;
    position: relative;
    display: flex;  
    
    justify-content: center;
    cursor: pointer; 
     width: 300px;
    padding: 10px 20px;
    margin: 20px auto;

    border-radius: 25px;

}
#searchInput{
  
  border-radius: 25px;
  border: 3px solid #f1750f;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  outline: none;
  font-weight: 500;
  background: transparent;
  padding: 10px 40px 20px 15px; 
  display: flex;

}
#innerClicks{
 color: white;
 font-weight: bold;
 background-color: #f1750f;
 padding: 5px;

}
#searchInput input{
width: 0;
outline: none;
font-weight: 500;
background: transparent;

}
.searchbar a .fa{
  color:#f1750f;
  position: absolute;
  right: 30px;
  top:50%;
  transform: translateY(-60%);
  font-size: 35px;
}

    input[type = submit ],input[type = reset ]{
 margin: 5px;
 text-align: center;
 width: 30%;
 font-size: 14px;
 margin-bottom: 10px;
 padding: 5px;
 color: white;
 background-color: #f1750f;
 border-radius: 25px;
 
 
    }
 
img{
    max-width: 100%;
    height: auto;
    
}



/* for small screens and mobile phones */
@media(max-width:768px){
    body{
        font-size: 13px;
        line-height: 1.4rem;
        padding: 0 5px;
    }
#logo{
        max-width: 100%;
        height: auto;
        object-fit: cover; 
      
    }
 img{
    width: 100%;
    height: auto;
 }

 /* the aim is to achieve stacked navigation menu items to fit small screen */

  header{
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    border:  solid #f9c65a;
  }
  .header {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hamburger {
    display: flex; /* show button */
    flex-direction: column;
    gap: 3px;
    justify-content: space-between;
    width: 30px;
    

  }
  .bar{
    display: block;
    background-color:#f1750f;
    width: 100%;
    height: 3px;
    cursor: pointer;

  }
  .hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
  
  .navbar {
    width: 100%;
  }

  .mainNavContainer {
    display: none; /* hidden until toggled */
    flex-direction: column;
    position: fixed;
    top: 14%;
    padding: 10px 0;
    right: 0;
   
  }

  /* When active (menu open) */
  .mainNavContainer.active {
    display: flex;
  }

  .mainNavContainer a {
    color: white; 
    margin: 1px;
    background-color: rgba(255, 168, 6, 0.63);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: auto;
    position: relative;
}

/* //reponsives */
input, textarea, select{
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    height: auto;
    border: 2px solid;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}
input[type = submit ],input[type = reset ]{
 margin: 5px;
 text-align: center;
 width: 100%;

    }

.enquiry-form-containers{
 width: 100%;
}
.management-team img{
 width: 100%;
}

/* slideshow */


 .footer{
   
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    background-color: orange;
    color: white;
    box-shadow: 4px 4px 8px rgba(255, 168, 6, 0.63);
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-top: 20px;
 }
 .minigallery{
width: 30%;
height: auto;
align-self: center;

}
.articles, .article-three, .article-four, h2{
    font-size: 14px;
}

 .tournamentInfo{
flex-direction: column;

}
.column1{
    flex: 1 1 100%;
    padding: 5px;
}
.u23{
   
    padding: 10px;
 
}
.tournaments{
    display: flex;
    flex-direction: row;
}

.article-Container{
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.services{
    padding: 15px;
    background-color: rgba(255, 168, 6, 0.63);
    border-radius: 15px;
     border: 3px solid #f1750f;
    box-shadow: 4px 4px 4px rgba(255,168,6,0.63);
}

.aboutUsContainer{
    display: grid;
    box-shadow: rgba(255, 168, 6, 0.63);
}

.Ourhistory, .aboutUsPurpose, .whoArewePurpose, .values{
    padding: 5px;
}
/* hamburger menu css */


     
}













/* footer */

.footer{
    text-align: center;
    font-size: 14px;
    background-color: wheat;
    color: inherit;
    box-shadow: 4px 4px 8px rgba(255, 168, 6, 0.63);
    max-width: 100%;
    height: auto;
    margin-top: 20px;
 }

 
.hiddenbox{
    display: none;
}


/* gallery styling */
.dots{
    text-align: center;
    margin-top:10px ;
}
.dot{
 height: 12px;
 width:12px ;
 margin: 0 5px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
 cursor: pointer;
 
}
.active{
    background-color: #333;
}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;  
    margin-top: -22px;
}
.prev{
  left: 10px;
}
.next{
right: 10px;
}
#next:hover{
 background-color: #f1750f;
}
#prev:hover{
 background-color: #f1750f;
}

.slideCaption{
    top: 0;
    color: #f2f2f2;
    position: absolute;
    font-size: 12px;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;

}
.active, .dot:hover{
    background-color: #717171;

}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}

.slides img{
    height: 600px;
    width: auto;
    

}

.tournament{
    background:url("/images/website%20gallery/jeandre-kleynhans-vCcgb9UeN6w-unsplash-min.jpg");
    background-position: center;
    
}
.tournaments,.column1{
    color: white;
}
