body{
    background-color:#f8c69a ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
a:link{
    cursor: pointer;
}
.mainNavContainer {
     display: flex;
     margin: 5px;
     gap: 20px;
     flex-direction: row;
      justify-content: center;
     
}
.mainNavContainer a:hover{
color: black;
}
.mainNavContainer a {
    color: white; 
    margin: 5px;
    background-color: rgba(255, 168, 6, 0.63);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    border-radius: 25px;
    text-decoration: none;
}
header{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.h1headers{
    background-color:#f8c69a ;
    display: flex;
   
}

#logo{

    width:100px; 
    height:auto;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    max-width: 100%;
}
.form-containers{
    display: grid;
      column-gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding: 0px;
}
.form-containers > div{
    border: 1px red;
}

form{
    border: 20px;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
input{
    width: 100%;
    border-radius: 15px;
    height: 28px;
    padding: 2px;
    border: 2px solid ;
    text-align: center;

}
input[type = submit ]{
 cursor: pointer;
 width: 10%;
 margin: 5px;
 text-align: center;
}
.container{
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;

}
.container > div{
   
    text-align: center;
    border: 2px solid red;
    font-weight: 20%;


}