


body, html {
    background-color:#f8c69a ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2rem;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
   
}
span{
    
    font-weight: bold;
   
}
main{
 margin: 50px;
 flex: 1;

}

a:link{
    cursor: pointer;
}
.mainNavContainer {
     display: flex;
     margin: 5px;
     gap: 20px;
     flex-direction: row;
    justify-content: flex-end;
    font-size: 1rem;
    line-height: 1rem;
    position: absolute;
    white-space: nowrap;
    flex-wrap: nowrap;
    top: 20px;
    right: 100px;
    padding: 1rem;
    border-radius: 10px;
   
     
}
.mainNavContainer a:hover{
    background-color:#f1750f ;

}

.mainNavContainer a {
    color: white; 
    margin: 5px;
    background-color: rgba(255, 168, 6, 0.63);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}
/* keep header on top of other elements */

header{
    background-color: antiquewhite;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;
    box-shadow: 4px 4px 8px rgba(255, 168, 6, 0.63);
}
.h1headers{
    background-color:#f8c69a ;
    display: flex;
    text-align: center;
    margin-top: 70px;
}
.services{
    margin-bottom: 30px;
    border: #f1750f red;
}

#logo{
    top: 0;
    left: 0;
    position: relative;
    width: 80px;
    margin-bottom: 10px;
    height: auto;
}

/* forms */
.form-containers{
    display: grid;
    column-gap: 150px;
    grid-template-columns: 25% 30% ;
    padding: 0px;
 margin-left: 10px;
  display: inline;
}
.form-containers > div{
    border: 1px red;
}

form{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 0;
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);

}


input { 
    padding: 5px; 
    margin: 5px 0;
    width: 100%;
    height: auto;
     text-align: center; 
     border: 2px solid;
     }


.container{
    display: grid;
    column-gap: 100px;
    grid-template-columns: auto auto auto;
    padding: 20px;

}
.container > div{
   
    text-align: center;
    border: 2px solid red;
    font-weight: 20%;
}


img{
    max-width: 100%;
    height: auto;
}



/* icon hamburger menu this css will be made functional with the use of Javascript*/

.hamburger{
    display: none;

}

.container-footer{
  position: relative;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  margin: 40px auto 0 auto;
 box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
 padding-left: 25%;
 padding-right: 75%;
}

/* about us style */
.aboutUsDiv{
    display: flex;   
    box-shadow: #333333;
    flex: 3;
    min-width: 100%;
    max-width: 30%;
    border: #f1750f 5px solid;
    overflow: auto;
  
}
.container-aboutUs{
    display: flex;
    gap: 20px;
    border: #f1750f 2px solid;
   
}
.Ourhistory, .aboutUsPurpose, .whoArewePurpose, .values{
    padding: 5px;
    border-bottom: orange solid 3px;
    box-shadow: #333333 10px;
}

.mainDiv{
      display: block;
    column-gap: 5px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.containerServices{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logosDiv{
    display: flex;
    column-gap: 10px;
    border: #f1750f solid;
    flex-direction: column;
    position: relative;
    grid-template-columns: auto auto auto;
}
main{
   
    margin: 50px;
}
/* span{
    display: none;
} */
/* contact us style */

.map{
    border: #f1750f solid 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0 10px;
    padding: 10px;
    
    
}
.map>div,
.map iframe{
 flex: 1 1 300px;
 max-width: 400px;
 min-width: 250px;
 width: 100%;
 
}
.contact-info{
 font-size: 1rem;
border-radius: 10px;
padding: 10px;
margin-top: 10px;
height: 380px;
box-shadow: 4px 4px 8px;


}
.socialMediaContainer{
 justify-content: center; 
 display: flex;
 gap: 10px;
 padding: 10px;
 text-align: center;
 width: fit-content;
 margin: 0 auto;
}

.socialMediaContainer img{
    width: 50px;
}

.map iframe{
 margin-top: 10px;
 flex: 1 1 300px;
 max-width: 400px;
 min-width: 250px;
 width: 100%;
 height: 390px;
 border: #f1750f 3px solid;
 box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
 border-radius: 10px;
 
}
/* homepage style */
.HomepageStickerImg{
 display: block;
 overflow: hidden;
 margin: 20px;
width:50%;
 height: auto;

}
#scoresheet{
   position: absolute;
    background-color: rgba(255, 168, 6, 0.63); ;
    white-space: nowrap;
    margin: 0;
    height: auto;
    padding: 10px 20px;
    top:10px;
 
  
}
.strip{
background-color:  rgba(255, 168, 6, 0.63);
height: auto;
width: 100%;
}
#scoresheet-container{
 position: relative;
 width: 100%;
 height: 50px;



}

.slideImg{
    display: grid;
}
.team{
    color: white;
    font-weight:bolder;
}
.match{
    color: white;
    font-weight:bolder;
}
.fixtures >li{
    display: inline-block;
    text-decoration: none;
}

.fixtures{
    margin: 5px;
}
/* homepage style */
.minigallery{
width: 30%;
height: auto;
display: block;
margin-left: 35%;
text-align: center;

}

.card, .articles, .article-three, .article-four, .article-five {
    border-radius: 10px;
    border: 3px solid #f1750f;
    box-shadow: 4px 4px 4px rgba(255,168,6,0.63);
    text-align: center;
    padding: 10px;
}
.articles, .article-three, .article-four h2{
    color:white;
    text-align: center;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: inherit;
    
}

.column{
  float: left;
  width: 100%;
  padding: 5px;
  display: flex;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
 border-radius: 10px;
}
.row{
 display: flex;
 position:relative;
 margin:auto;
 max-width: 100%;
}
.prevButton .nextButton{
    cursor: pointer;
    position:absolute;
    top: 50%;
    background-color: #f1750f;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:white;
    font: 18px;
    right: 0;
    border-radius:3px 0 0 3px ;

}

/* tournament page */
.features{
 font-weight: bolder;
}
.tournaments{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: space-between;

}
#tourneyBtn{
    border-radius: 5px;
    padding: 5px;
}


.tournamentInfo{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    justify-content: space-between;

    padding: 20px;
    max-width: 1200px;
}
.column1{
 
    flex: 1;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px;
    border: #f1750f solid 2px;
    max-width: 100%;
    height: auto;
    width: 220px;
}
.column1 :last-child{
 margin-right:10px ;
 max-width: 100%;
}


.legendspic{
  width: 100%;
  border-radius: 25px;
}

.u23{
  border: #f1750f 1px solid;
  box-shadow: 4px 4px 4px 4px rgba(255, 168, 6, 0.63);
  border-radius: 25px;
}


/* service page style */


.card{

    border-radius: 10px;
    border: #f1750f solid 3px;
    box-shadow: 4px 4px 4px 4px rgba(255, 168, 6, 0.63);
    text-align: center;
    padding: 10px;
}
.searchbar{
    text-align: center;
    position: relative;
    display: flex;  
    
    justify-content: center;
    cursor: pointer; 
     width: 300px;
    padding: 10px 20px;
    margin: 20px auto;

    border-radius: 25px;

}
#searchInput{
  
  border-radius: 25px;
  border: 3px solid #f1750f;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  outline: none;
  font-weight: 500;
  background: transparent;
  padding: 10px 40px 20px 15px; 
  display: flex;

}
#innerClicks{
 color: white;
 font-weight: bold;
 background-color: #f1750f;
 padding: 5px;

}
#searchInput input{
width: 0;
outline: none;
font-weight: 500;
background: transparent;

}
.searchbar a .fa{
  color:#f1750f;
  position: absolute;
  right: 30px;
  top:50%;
  transform: translateY(-60%);
  font-size: 35px;
}

    input[type = submit ],input[type = reset ]{
 margin: 5px;
 text-align: center;
 width: 30%;
 font-size: 14px;
 margin-bottom: 10px;
 padding: 5px;
 color: white;
 background-color: #f1750f;
 border-radius: 25px;
 
 
    }
   /* .mainNavContainer{
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    font-size: 1rem;
    line-height: 1rem;

} */

/* #mobi-menu:checked ~.mainNavContainer{
    display: flex;
} */
/* .mobi-menuIcon{
  display: block;
} */
img{
    max-width: 100%;
    height: auto;
    
}

  /* hidden on desktop */


#hamburgerIcon{
    display: none;
}

/* for small screens and mobile phones */
@media(max-width:768px){
    body{
        font-size: 13px;
        line-height: 1.4rem;
        padding: 0 5px;
    }
    #logo{
        max-width: 100%;
        height: auto;
    }
 img{
    width: 100%;
    height: auto;
 }

 /* the aim is to achieve stacked navigation menu items to fit small screen */
 .mainNavContainer{
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  flex-direction: column;
  text-align: center;

 }

  .mainNavContainer a {
    color: white; 
    margin: 1px;
    background-color: rgba(255, 168, 6, 0.63);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: auto;
    position: relative;
}


 .footer{
   
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    background-color: orange;
    color: white;
    box-shadow: 4px 4px 8px rgba(255, 168, 6, 0.63);
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-top: 20px;
 }
 .minigallery{
width: 30%;
height: auto;
align-self: center;

}
.articles, .article-three, .article-four, h2{
    font-size: 14px;
}

 .tournamentInfo{
flex-direction: column;

}
.column1{
    flex: 1 1 100%;
    padding: 5px;
}
.u23{
   
    padding: 10px;
 
}
.tournaments{
    display: flex;
    flex-direction: row;
}

.article-Container{
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.services{
    padding: 15px;
    background-color: rgba(255, 168, 6, 0.63);
    border-radius: 15px;
     border: 3px solid #f1750f;
    box-shadow: 4px 4px 4px rgba(255,168,6,0.63);
}

.aboutUsContainer{
    display: grid;
    box-shadow: rgba(255, 168, 6, 0.63);
}

.Ourhistory, .aboutUsPurpose, .whoArewePurpose, .values{
    padding: 5px;
}
/* hamburger menu css */
.checkbtn{
    font-size: 30px;
    cursor: pointer;
    display: block;
    width: 20px;
    height: 25px;
    color: black;

}
#mobi-menu:checked ~ .mainNavContainer{
    display: flex;
}

.mobi-menuIcon{
  display: block;
}
     
}



/* footer */

.footer{
    text-align: center;
    font-size: 14px;
    background-color: wheat;
    color: inherit;
    box-shadow: 4px 4px 8px rgba(255, 168, 6, 0.63);
    max-width: 100%;
    height: auto;
    margin-top: 20px;
 }

 
.hiddenbox{
    display: none;
}


#slides img{
    width: 500px;
    height: auto;

}
.dots{
    text-align: center;
    margin-top:10px ;
}
.dot{
 height: 12px;
 width:12px ;
 margin: 0 5px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
 cursor: pointer;
 
}
.active{
    background-color: #333;
}
.prevBtn, .nextBtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;  
    margin-top: -22px;
}
.prevBtn{
  left: 10px;
}
.nextBtn{
    right: 10px;
}
#nextBtn:hover{
 background-color: #f1750f;
}
#prevBtn:hover{
 background-color: #f1750f;
}
.gallery-container{
  max-width: 400px;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%;
}
.slideCaption{
    top: 0;
    color: #f2f2f2;
    position: absolute;
    font-size: 12px;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;

}
.active, .dot:hover{
    background-color: #717171;

}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}
.slides{
    display: none;
}
.slides img{
    height: 600px;
    border: 2px solid ;
    border-radius: 25px;
}

.tournament{
    background:url("/images/website%20gallery/jeandre-kleynhans-vCcgb9UeN6w-unsplash-min.jpg");
    background-position: center;
    
}
.tournaments,.column1{
    color: white;
}
